@function v($var) {
  @return var(--#{$var});
}
:root{
  --orange: #fbb601;
  --black: #333333;
  --greyish: #b3b3b3;
  --gray: #808080;
  --size24: 24px;
}

body {
  background: #040019;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: v(black);
  overflow-x: hidden;
}
// ---------- header --------- //
img.bg,img{max-width: 100%;}
.main-inner{
  width: 100%; height: 100%; position: absolute; top: 0; left: 0;
}
.wrapper{width: 100%; overflow: hidden;}

//------ header -----------//
h1{display: block; margin: 0;}
.logo{
  width: vw(240px); display: block; margin: vw(28px) auto 0;
  &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
}
.gamelist{
  width: vw(395px); height: vw(495px);
  position: absolute; right: vw(245px); top: vw(253px);
  a{display: block; position: absolute;}
  a:nth-child(1){
    width: vw(141px); top: 0; left:0;
    animation: movie 1s infinite linear;
  }
  a:nth-child(2){
    width: vw(136px); top: vw(23px); left: vw(172px);
    animation: flash .6s infinite linear;
  }
  a:nth-child(3){
    width: vw(145px); top: vw(191px); left: vw(134px); z-index: 3;
    animation: flash .6s infinite linear;
  }
  a:nth-child(4){
    width: vw(139px); top: vw(178px); left: vw(247px);
    animation: pulse 1s infinite linear;
  }
  a:nth-child(5){
    width: vw(145px); top: vw(355px); left: vw(224px);
    animation: movie1 .8s infinite linear;
  }
  a:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
}
.steps{
  width: 100%; justify-content: center;
  position: absolute; left: 50%; transform: translateX(-50%); top: vw(792px);
  li span{width: vw(197px); height: vw(72px); display: block; margin-right: vw(-39px); font-size: 0;}
  li:nth-child(1) span{background: url("#{$img-path}/step1.png") no-repeat 0 0/contain;}
  li:nth-child(2) span{background: url("#{$img-path}/step2.png") no-repeat 0 0/contain;}
  li:nth-child(3) span{background: url("#{$img-path}/step3.png") no-repeat 0 0/contain;}
  li:nth-child(4) span{background: url("#{$img-path}/step4.png") no-repeat 0 0/contain;}
  li:nth-child(5) span{background: url("#{$img-path}/step5.png") no-repeat 0 0/contain;}
}
.register{
  width: vw(378px); height: vw(329px);
  margin: vw(120px) 0 0 vw(814px);
  .form-group{
    margin-bottom: vw(12px); position: relative;
    @media (max-width: 1366px) {
      margin-bottom: vw(8px);
    }
  }
  .tooltip{
    position: absolute; right: vw(6px); top: vw(4px); 
    opacity: 1; font-size: 0; z-index: 9;
    &:hover span{
      opacity: 1;
      visibility: visible;
      transform: translate(-50%,0);
    } 
    &__btn{
    width: vw(30px); height: vw(30px); display: block;
    background: url("#{$img-path}/icon1.png") no-repeat 0 0/contain;
    }
    span{
      padding: 2px 10px;
      background: #000;
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
      position: absolute; top: -100%; left: 50%; transform: translate(-50%,10px);
      opacity: 0; visibility: hidden; transition: .3s;
      &:after{
        content: "";
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%);
      }
    }
  }
  input{
    width: vw(308px); height: vw(40px);
    padding-left: 15px; background: #071018;
    border: 1px solid #08628b; border-radius: 100px; 
    color: #444b53; font-weight: bold;
    font-size: vw(16px);
    @media (max-width: 1366px) {
      height: vw(45px);
    }
  }
  input:focus{outline: none;}
  input.code{width: vw(165px);}
  input::placeholder{color: #444b53; font-weight: bold; font-size: vw(16px);}
  .btn-submit{
    width: vw(136px); height: vw(33px); display: block;
    background: url("#{$img-path}/btn-register.png") no-repeat 0 0/contain;
    margin: 0 auto;
    border: none; font-size: 0;
    cursor: pointer;
    @media (max-width: 1366px) {
      width: vw(145px); height: vw(36px);
    }
    &:hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
  }
  .capcha{
    margin-left: vw(10px);
    align-items: center;
    &__img{max-height: vw(30px);}
    .new{
      width: vw(28px); height: vw(26px); display: block; margin-left: vw(15px);
      background: url("#{$img-path}/icon-reset.png") no-repeat 0 0/contain;
    }
  }
  form{max-width: vw(308px); margin: 0 auto; padding-top: vw(60px);}
}
.effect{
  >div{position: absolute;}
  .ef1{
    width: vw(103px); height: vw(103px);
    background: url("#{$img-path}/light.png") no-repeat 0 0/contain;
    top: vw(582px); left: vw(664px);
  }
  .ef2{
    width: vw(539px); height: vw(368px);
    background: url("#{$img-path}/light1.png") no-repeat 0 0/contain;
    top: vw(326px); left: vw(224px); opacity: .8;
    animation: movie_light 4s linear infinite;
  }
  .ef3{
    width: vw(864px); height: vw(317px);
    background: url("#{$img-path}/light2.png") no-repeat 0 0/contain;
    top: vw(572px); left: vw(620px); opacity: .8;
    animation: movie_light1 3s infinite linear;
    animation-delay: 4s;
  }
  .ef0{
    width: vw(538px); height: vw(360px);
    background: url("#{$img-path}/light1.png") no-repeat 0 0/contain;
    right: vw(268px); top: vw(-64px); opacity: .7;
    animation: movie_light3 3s linear infinite;
    animation-delay: 5s;
  }
  .ef4{
    width: vw(330px); height: vw(315px);
    background: url("#{$img-path}/icon-taixiu.png") no-repeat 0 0/contain;
    top: vw(404px); left: vw(1186px);
    animation: movie .7s infinite linear;
  }
  .ef5{
    width: vw(313px); height: vw(198px);
    background: url("#{$img-path}/star.png") no-repeat 0 0/contain;
    top: vw(544px); left: vw(1036px);
  }
}

.thankyou{
  .btn-play{
    width: vw(607px); height: vw(172px); display: block;
    margin: vw(525px) auto 0;
    background: url("#{$img-path}/btn-play.png") no-repeat 0 0/contain;
    text-indent: -9999em;
    animation: flash .6s infinite linear;
  }
}


// ------ animation -------//
@-webkit-keyframes movie_light {
  0%{
    opacity: 0.2;
    transform: translateX(-300px);
  }
  20%{
    opacity: 0.8;
    transform: translateX(0px);
  }
  30%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  40%{
    -webkit-filter: saturate(1.1);
    filter: saturate(1.1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  80%{
    opacity: 0;
  }
  100%{opacity: 0;}
}
@keyframes movie_light {
  0%{
    opacity: 0.2;
    transform: translateX(-300px);
  }
  20%{
    opacity: 0.8;
    transform: translateX(0px);
  }
  30%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  40%{
    -webkit-filter: saturate(1.1);
    filter: saturate(1.1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  80%{
    opacity: 0;
  }
  100%{opacity: 0;}
}

@-webkit-keyframes movie_light1 {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  20%{
    opacity: .8;
    transform: translateX(0);
  }
  40%{
    opacity: 0;
    transform: translateX(100%);
  }
  40%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}
@keyframes movie_light1 {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  20%{
    opacity: .8;
    transform: translateX(0);
  }
  40%{
    opacity: 0;
    transform: translateX(100%);
  }
  40%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}

@-webkit-keyframes movie_light3 {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  20%{
    opacity: .7;
    transform: translateX(0);
  }
  30%{
    opacity: .2;
    transform: translateX(-140px);
  }
  40%{
    -webkit-filter: saturate(1.8);
    filter: saturate(1.8);
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(3.1);
    filter: saturate(3.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash1 {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(3.1);
    filter: saturate(3.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-webkit-keyframes movie {
  0%{
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
  50%{
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
  100%{
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
}

@keyframes movie {
  0%{
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
  50%{
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
  100%{
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
}

@-webkit-keyframes movie1 {
  0%{
    transform: translateX(-5px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-5px);
  }
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}