@function v($var) {
  @return var(--#{$var});
}
:root{
  --orange: #fbb601;
  --black: #333333;
  --greyish: #b3b3b3;
  --gray: #808080;
  --size24: 24px;
}

@font-face {
  font-family: MyriadPro-BoldCond;
  src: url("#{$font-path}/MyriadPro-BoldCond.otf");
}

body {
  background: #020415;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: v(black);
  overflow-x: hidden;
}
body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}
// ---------- header --------- //
img.bg,img{max-width: 100%;}
.main-inner{
  width: 100%; height: 100%; padding-left: vw(76px);
  position: absolute; top: 0; left: 0;
}
.wrapper{width: 100%; overflow: hidden;}

//------ header -----------//
h1{display: block; margin: 0;}
.logo{
  width: vw(324px); height: vw(136px); display: block;
  background: url("#{$img-path}/logo.png") no-repeat 0 0/contain;
  margin: vw(40px) 0 0 vw(-11px);
  &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
}
.text{
  width: vw(1188px); height: vw(243px);
  background: url("#{$img-path}/landing2/text.png") no-repeat 0 0/contain;
  position: absolute; top: vw(35px); left: vw(350px);
  z-index: 10;
}
.person{
  width: vw(271px); height: vw(699px);
  background: url("#{$img-path}/landing2/person.png") no-repeat 0 0/contain;
  position: absolute; top: vw(243px); left: vw(1260px); z-index: 9;
} 
.wheel{
  width: vw(796px);
  height: vw(791px);
  display: block;
  background: url("#{$img-path}/landing2/bg-vongquay.png") no-repeat 0 0/contain;
  margin: vw(-70px) auto 0;
  position: relative; z-index: 8;
  .arrow{
    width: vw(55px); height: vw(95px);
    background: url("#{$img-path}/landing2/arrow.png") no-repeat 0 0/contain;
    position: absolute; top: vw(70px); left: 50%; transform: translateX(-50%); z-index: 9;
  }
}
canvas{
  width: vw(586px); display: block; margin: 0 auto;
  position: absolute; left: 0; right: 0; top: vw(108px);
}
#spin_button,.spin_button_disable{
  width: vw(221px); height: vw(222px);
  position: absolute; left: 49.8%; top: 50.8%; transform: translate(-50%,-50%);
  background: url("#{$img-path}/landing2/btn-quay.png") no-repeat 0 0/contain;
  z-index: 9;
}
.spin_button_disable{
  display: none;
}
.spin_button_disable.active{
  display: block; z-index: 99;
}

.effect{
  >div{position: absolute;}
  .ef1{
    width: vw(294px); height: vw(334px);
    background: url("#{$img-path}/landing2/xucxac.png") no-repeat 0 0/contain;
    top: vw(560px); left: vw(414px); z-index: 2;
    animation: movie_top 1s infinite linear;
  }
  .ef2{
    width: vw(510px);
    height: vw(476px);
    background: url("#{$img-path}/landing2/xemay.png") no-repeat 0 0/contain;
    top: vw(403px); left: vw(167px);
    animation: e2_effect 5s linear 1s 5;
  }
  .ef3{
    width: vw(525px); height: vw(233px);
    background: url("#{$img-path}/landing2/oto.png") no-repeat 0 0/contain;
    top: vw(617px); right: vw(55px);
    animation: e3_effect 5s linear 1s 5;
  }
}


//
.popup-code{
  .modal-dialog{
    max-width: 684px;
  }
  .modal-content{
    width: 684px; height: 340px;
    background: url("#{$img-path}/landing2/bg-popup.png") no-repeat 0 0/contain;
    border: none;
  }
  .close{
    position: absolute;
    color: #fff;
    box-shadow: none;
    right: 20px;
    top: 14px;
  }
  .modal-header{border-bottom: none;}
  .modal-title{
    display: block; width: 100%;
    text-align: center; color: #fff; text-transform: uppercase;
    font: 700 30px/56px Roboto,sans-serif;
    background: -webkit-linear-gradient(#fff 20%, #79a9ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .modal-body{padding-top: 5px;}
  h5{display: block; margin-bottom: 20px; color: #fff; text-align: center; font: 500 24px Roboto, sans-serif;}
  .content_code{
    text-align: center; color: #fff;
    span{
      display: block; width: 300px; height: 50px;
      padding: 0 10px; margin: 0 auto 12px;
      background: #0b131e; border: 2px solid #264769; border-radius: 100px;
      text-align: right; font: 22px/46px Roboto, sans-serif; color: #fff;
    }
    span.icon{display: flex; align-items: center; justify-content: flex-end; color: #408b00;}
    span.icon-star:after{
      content: "";
      width: 40px; height: 39px; display: inline-block; margin-left: 15px;
      background: url("#{$img-path}/landing2/star.png") no-repeat right center; background-size: 40px 39px;
    }
  }
  .btn-agree{
    width: 179px; height: 45px; display: block;
    margin: 0 auto;
    background: url("#{$img-path}/landing2/btn-agree.png") no-repeat 0 0/contain;
  }
}
.popup-register{
  .modal-dialog{max-width: 1024px;}
  .modal-content{
    width: 1024px;
    height: 582px;
    background: url("#{$img-path}/landing2/bg-register.png") no-repeat;
    border: none;
  }
  .close{
    width: 50px; height: 50px;
    background: url("#{$img-path}/landing2/icon-close.png") no-repeat 0 0/contain;
    position: absolute; top: 12px; right: 12px; font-size: 0;
  }
  .form-register{width: 455px; margin: 146px 0 0 507px;}
  .form-group{margin-bottom: 20px; position: relative;}
  .verification{
    align-items: center;
    input{width: 235px;}
    &_img{margin: 0 15px;}
    .new{
      width: 39px; height: 36px; display: block;
      background: url("#{$img-path}/icon-reset.png") no-repeat;
    }
  }
  .tooltip{
    position: absolute; right: 6px; top: 5px;
    opacity: 1; font-size: 0; z-index: 9;
    &:hover span{
      opacity: 1;
      visibility: visible;
      transform: translate(-50%,0);
    }
    &__btn{
      width: 45px; height: 44px; display: block;
      background: url("#{$img-path}/icon1.png") no-repeat 0 0/contain;
    }
    span{
      min-width: 150px;
      max-width: 500px;
      padding: 4px 10px;
      background: #000;
      color: #fff;
      text-align: center;
      font-size: 12px;
      border-radius: 3px;
      position: absolute; top: -80%; left: 50%; transform: translate(-50%,10px);
      opacity: 0; visibility: hidden; transition: .3s;
      &:after{
        content: "";
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%);
      }
    }
  }
  .btn-submit{
    width: 245px; height: 59px; display: block;
    border: none; background: url("#{$img-path}/landing2/btn-register.png") no-repeat 0 0/contain;
    cursor: pointer;
    &:hover{-webkit-filter: saturate(2.1); filter: saturate(2.1);}
  }
  input{
    width: 100%; height: 55px; padding: 0 20px;
    background: #071018; border-radius: 100px; border: 2px solid #045277;
    color: #8f9092; font: 24px Roboto, sans-serif;
    &:focus{outline: none;}
    &::placeholder{color: #8f9092; font: 26px Roboto, sans-serif;}
  }
  @media (max-width: 1600px) {
    transform: scale(.8);
  }
}



// ------ animation -------//
@-webkit-keyframes movie_top{
  0%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}
@keyframes movie_top{
  0%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}

@-webkit-keyframes e2_effect {
  0%{
    opacity: 0;
    transform: translate(510px,-160px);
  }
  1%{
    opacity: 1;
    transform: translate(0px,0px);
  }
  30%{
    opacity: 1;
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  40%{
    opacity: 1;
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    opacity: 1;
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes e2_effect {
  0%{
    opacity: 0;
    transform: translate(510px,-160px);
  }
  10%{
    opacity: 1;
    transform: translate(0px,0px);
  }
  20%{
    opacity: 1;
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  30%{
    opacity: 1;
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  40%{
    opacity: 1;
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  60%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes e3_effect {
  0%{
    opacity: 0;
    transform: translate(-380px, -150px);
  }
  10%{
    opacity: 1;
    transform: translate(0,0);
  }
  20%{
    -webkit-filter: saturate(1.8);
    filter: saturate(1.8);
  }
  30%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  40%{
    -webkit-filter: saturate(1.8);
    filter: saturate(1.8);
  }
  50%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  60%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}