@function v($var) {
  @return var(--#{$var});
}
:root{
  --orange: #fbb601;
  --black: #333333;
  --greyish: #b3b3b3;
  --gray: #808080;
  --size24: 24px;
}

body {
  background: #040019;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: v(black);
  overflow-x: hidden;
}
// ---------- header --------- //
img.bg,img{max-width: 100%;}
.main-inner{
  width: 100%; height: 100%; position: absolute; top: 0; left: 0;
}
.wrapper{width: 100%; overflow: hidden;}

//------ header -----------//
h1{display: block; margin: 0;}
.thankyou{
  .btn-play{
    width: vw(607px); height: vw(172px); display: block;
    margin: vw(525px) auto 0;
    background: url("#{$img-path}/btn-play.png") no-repeat 0 0/contain;
    text-indent: -9999em;
    animation: flash .6s infinite linear;
  }
}


@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}