<main>
	<img src="./assets/images/bg-landing3.jpg" class="bg" />
	<div class="main-inner">
		<h1>
			<a href="" title="" class="logo"><img src="./assets/images/logo.png"></a>
		</h1>
		<div class="gamelist">
			<a href="javascript:;"><img src="./assets/images/taixiu.png"></a>
			<a href="javascript:;"><img src="./assets/images/longphung.png"></a>
			<a href="javascript:;"><img src="./assets/images/poker.png"></a>
			<a href="javascript:;"><img src="./assets/images/sieusao.png"></a>
			<a href="javascript:;"><img src="./assets/images/vuaphattai.png"></a>
		</div>
		<div class="register">
			<form method="" action="" class="register__form">
				<div class="form-group">
					<input type="text" name="account" placeholder="Tài khoản (4-16 ký tự)" required>
					<div class="tooltip">
						<a href="javascript:;" class="tooltip__btn"></a>
						<span>abc</span>
					</div>
				</div>
				<div class="form-group">
					<input type="password" name="password" placeholder="Mật khẩu (6-18 ký tự)" required>
					<div class="tooltip">
						<a href="javascript:;" class="tooltip__btn"></a>
						<span>abc</span>
					</div>
				</div>
				<div class="form-group">
					<input type="password" name="re_password" placeholder="Nhập lại mật khẩu" required>
				</div>
				<div class="form-group flex">
					<input type="text" name="code" class="code" placeholder="Mã xác nhận" required>
					<div class="capcha flex">
						<img src="./assets/images/capcha.jpg" class="capcha__img" id="capcha" />
						<a href="#" class="new"></a>
					</div>
				</div>
				<button type="submit" class="btn-submit">Đăng ký</button>
			</form>
		</div>
		<ul class="steps flex">
			<li><span>Đăng ý</span></li>
			<li><span>Nhận giftcode</span></li>
			<li><span>Chơi game</span></li>
			<li><span>Đổi thẻ điện thoại</span></li>
			<li><span>Đổi tiền mặt qua đại lý</span></li>
		</ul>
		<div class="effect">
			<div class="ef0"></div>
			<div class="ef2"></div>
			<div class="ef3"></div>
			<div class="ef4"></div>
			<div class="ef5"></div>
		</div>
	</div>
</main>