<main>
	<img src="./assets/images/landing2/bg-landing2.jpg">
	<div class="main-inner">
		<h1><a href="" title="" class="logo"></a></h1>
		<div class="text"></div>
		<div class="person"></div>
		<div class="effect">
			<div class="ef1"></div>
			<div class="ef2"></div>
			<div class="ef3"></div>
		</div>
		<div class="wheel">
			<a href="javascript:;" id="spin_button" onClick="startSpin();"></a>
			<a href="javascript:;" class="spin_button_disable"></a>
			<span class="arrow"></span>
			<canvas id="canvas" width="586" height="589" data-responsiveMinWidth="180" data-responsiveScaleHeight="true" >
	            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
	        </canvas>
		</div>
	</div>
	<div class="modal fade popup-code" id="popup-code" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalCenterTitle">Chúc mừng</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h5>Bạn đã trúng</h5>
					<p class="content_code"></p>
					<a href="javascript:;" class="btn-agree" data-dismiss="modal"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade popup-register" id="popup-register" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<form action="" method="" class="form-register">
					<div class="form-group">
						<input type="text" name="account" placeholder="Tài khoản ( 4- 16 ký tự)" required>
						<div class="tooltip">
							<a href="javascript:;" class="tooltip__btn"></a>
							<span>Tài khoản ( 4- 16 ký tự)</span>
						</div>
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="Mật khẩu ( 4- 18 ký tự)" required>
						<div class="tooltip">
							<a href="javascript:;" class="tooltip__btn"></a>
							<span>Mật khẩu ( 4- 18 ký tự)</span>
						</div>
					</div>
					<div class="form-group">
						<input type="password" name="re_password" placeholder="Nhập lại mật khẩu" required>
					</div>
					<div class="form-group verification flex">
						<input type="text" name="verification" placeholder="Mã xác nhận">
						<img class="verification_img" src="./assets/images/capcha.jpg" alt="">
						<a href="javascript:;" class="new"></a>
					</div>
					<button type="submit" class="btn-submit"></button>
				</form>
			</div>
		</div>
	</div>
</main>