<main>
	<img src="./assets/images/bg-thankyou.jpg" class="bg" />
	<div class="main-inner">
		<div class="thankyou">
			<a href="" title="Chơi ngay" class="btn-play">Chơi ngay</a>
		</div>
	</div>
</main>